<div class="container p-4"> 
    <div class="row">
        {{#each solicitaciones}}
        
            <div class="col-md-3">
                <div class="card text-center">
                    <div class="card-body">
                        <h3 class="card-title text-uppercase">
                            {{nombres}}
                            {{apellidos}}
                        </h3>
                        <p>Correo Paciente: {{correo_electronico}}</p>
                        <p>Numero Paciente Personal: {{telefono_personal}}</p>
                        <p>Numero Paciente Contacto: {{telefono_contacto}}</p>
                        <p>Direccion del Paciente: {{direccion}}</p>
                        <p>Profesional:{{nombre_profesional}}</p>
                        <p>{{horario}}</p>
                        <p>{{disponibilidad}}</p>
                        <p>Motivo:{{motivo}}</p>
                        <a class="btn btn-primary btn-block" href="" role="button">Responder solicitud</a>
                    </div>
                </div>
            </div>
        {{else}}
            <div class="col-md-4 mx-auto">
                <div class="card card-body text-center">
                    <p>Por el momento no hay horas de atencion medica, intente mas tarde</p>
                </div>
            </div>
        {{/each}}

    </div>
</div>